{% extends "Framing33HomeBundle::base.html.twig" %}
{% block title %}{{ parent() }}|Nous contacter{% endblock %}
{% block body %}
    <div class="well cadre1">
        <h3>Nous contacter</h3><hr>
        <div class="cadre2">
            {% for message in app.session.flashbag.get('notice')%}
                <div class="alert alert-success">
                 {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {# Leserreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'control-label'}}) }}
                {{form_errors(form.nom) }}
                {{form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.mail, "Email",{'label_attr':{'class':'control-label'}})}}
                {{ form_errors(form.mail) }}
                {{ form_widget(form.mail,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class ="form-group">
                {{ form_label(form.categorie, "Sujet", {'label_attr':{'class':'control-label'}}) }}
                {{ form_errors(form.categorie) }}
                {{ form_widget(form.categorie,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_errors(form.message) }}
            {{ form_widget(form.message, {'attr':{'class':'form-control','rows':'7','placeholder':'Votre message'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.envoyer,{'attr': {'class': 'btn btn-primary btn-block'}}) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
