{% extends 'Framing33HomeBundle::base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="well cadre1">

        <h3>Votre inscription</h3><hr>
        <div class="cadre2">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.nom, "Nom de l'élève", {'label_attr': {'class': 'ontrol-label'}}) }}
                {#Affichage des erreurs pour ce champ précis. #}
                {{form_errors(form.nom) }}
                {{form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
                {#Affichage des erreurs pour ce champ précis. #}
                {{form_errors(form.prenom) }}
                {{form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
            {# Idem pour un autre champ. #}
            <div class="form-group">
                {{ form_label(form.mail, "E-mail",{'label_attr':{'class':'control-label'}})}} {{ form_errors(form.mail) }}
                {{ form_widget(form.mail,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class = "form-group">
                {{ form_label(form.langues, "Choix des langues", {'label_attr':{'class':'control-label'}}) }}
                {{ form_errors(form.langues) }}
                {{ form_widget(form.langues,{'attr':{'class':'form-control'}}) }}
            </div>

            <div class = "form-group">
                {{ form_label(form.adresse, "Adresse", {'label_attr':{'class':'control-label'}}) }}
                {{ form_errors(form.adresse) }}
                {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}
            </div>

            <div class = "form-group">
                {{ form_label(form.tel, "Téléphone", {'label_attr':{'class':'control-label'}}) }}
                {{ form_errors(form.tel) }}
                {{ form_widget(form.tel,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.Enregistrer,{'attr': {'class': 'btn btn-primary btn-block'}}) }}
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}